.indicators-panel {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
}

.indicator {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

div>h3 {
    color: #212121;
    margin-left: 10%;
}

.indicator:nth-child(odd) {
    background-color: #F44336;
}

.indicator:nth-child(even) {
    background-color: #2196F3;
}